
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link rel="stylesheet" th:href="@{formstyle.css}">
</head>
<body>

<div class="container">
    <h2>Registro de usuario</h2>

    <form th:action="@{/register}" th:object="${user}" method="POST">

        <div class="form-1">
            <label>Nombre: </label>
            <input type="text" name="name" th:value="*{name}" th:errorClass="is-invalid"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
            <hr>

            <label>Apellido: </label>
            <input type="text" name="lastName" th:value="*{lastName}" th:errorClass="is-invalid"/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></div>
            <hr>

            <label>Email: </label>
            <input type="email" name="email" th:value="*{email}" th:errorClass="is-invalid"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
            <hr>
            <label>Contraseña: </label>
            <input type="password" name="password" th:value="*{password}" th:errorClass="is-invalid"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
            <hr>
            <label>Confirme Contraseña: </label>
            <input type="password" name="rpassword" th:value="*{rpassword}" th:errorClass="is-invalid"/>
            <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>


        </div>
        <label>Pais:</label>
        <select th:field="*{country}" >
            <option th:each="p : ${countries}" th:value="${p.getId()}" th:text="${p}" />
        </select>
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="invalid-feedback"></div>

        <label>Provincia:</label>
        <select th:field="*{state}" >
            <option th:each="p : ${states}" th:value="${p.getId()}" th:text="${p}"/>
        </select>
        <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="invalid-feedback"></div>


        <label>Ciudad:</label>
        <select th:field="*{city}" >
            <option th:each="p : ${cities}" th:value="${p.getId()}" th:text="${p}" class="invalid-feedback"/>
        </select>
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

        <button type="submit">Registrar</button>

    </form>
</div>


</body>
</html>